/* <----------------------------Color Pallete ------------------> */
/* Color Theme Swatches in Hex */
.Dark-North-1-hex { color: #011126; }
.Dark-North-2-hex { color: #B6D0F2; }
.Dark-North-3-hex { color: #2A4359; }
.Dark-North-4-hex { color: #496D8C; }
.Dark-North-5-hex { color: #84A4BF; }

/* Color Theme Swatches in RGBA */
.Dark-North-1-rgba { color: rgba(0, 17, 38, 1); }
.Dark-North-2-rgba { color: rgba(181, 207, 242, 1); }
.Dark-North-3-rgba { color: rgba(41, 67, 89, 1); }
.Dark-North-4-rgba { color: rgba(72, 108, 140, 1); }
.Dark-North-5-rgba { color: rgba(131, 163, 191, 1); }

/* Color Theme Swatches in HSLA */
.Dark-North-1-hsla { color: hsla(213, 96, 7, 1); }
.Dark-North-2-hsla { color: hsla(213, 70, 83, 1); }
.Dark-North-3-hsla { color: hsla(208, 36, 25, 1); }
.Dark-North-4-hsla { color: hsla(208, 31, 41, 1); }
.Dark-North-5-hsla { color: hsla(208, 31, 63, 1); }


/* <---------------------------- Basic CSS for page------------------> */

body {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color: #B6D0F2;
    
}

h1,
h2,
h3,
h4 {
    font-family: "Alegreya", serif;
    font-weight: 700;
    color: #011126;
}

p {
    letter-spacing: .10rem;
    
}
.pagedivider {
    width: 33%;
    height: 2px;
    background-color: #2A4359;
    margin-top: 32px;
}

article {
    max-width: 33%;
    margin: 0 auto;
}


/* <----------------------------------Navbar------------------------------> */

.navbar li {
    margin: 0;
}


/* <----------------------------------Hero Image------------------------------> */
.bg-color-photo-test{
    background-color: black;
}
.devimage {
    background-image: url(/assets/images/profilepic.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    height: 50vh;
    -webkit-clip-path: polygon(0 0, 10% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 10% 0, 90% 100%, 0% 100%);
    animation-name: reversedev;
    animation-duration: 1.2s;
    width: 100%;
    
}

.nurseimage {
    background-image: url(/assets/images/logomainphoto.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 90% 100%);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 90% 100%);
    animation-name: reversenurse;
    animation-duration: 1.2s;
    width: 100%;
    
    }

.devimage:hover {
    animation-name: devanimation;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;

}

.nurseimage:hover {
    animation-name: nursanimation;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;

}

@keyframes devanimation {
    from {
        -webkit-clip-path: polygon(0 0, 10% 0, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 10% 0, 90% 100%, 0% 100%);

    }

    to {
        -webkit-clip-path: polygon(0 0, 98% 0, 98% 100%, 0% 100%);
        clip-path: polygon(0 0, 98% 0, 98% 100%, 0% 100%);
        
        
    

    }

}
@keyframes reversedev {
    from {
        -webkit-clip-path: polygon(0 0, 98% 0, 98% 100%, 0% 100%);
        clip-path: polygon(0 0, 98% 0, 98% 100%, 0% 100%);
        
    }

    to {
        -webkit-clip-path: polygon(0 0, 10% 0, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 10% 0, 90% 100%, 0% 100%);
        
    }
}

@keyframes nursanimation {
    from {
        -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 90% 100%);
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 90% 100%);
    }

    to {
        -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(2% 0, 100% 0, 100% 100%, 2% 100%);
    }
}

@keyframes reversenurse {
    from {
        -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(2% 0, 100% 0, 100% 100%, 2% 100%);
    }

    to {
        -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 90% 100%);
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 90% 100%);
    }
}

/* <----------------------------------Home Section 1------------------------------> */

.intro-bg {
    background-color: #B6D0F2;
    color: #2A4359;
}
.center-items {
    justify-content: center;
}

.introduction-page-col {
    display: flex;
    height: 41.40vh;
    width: 100%;
    margin-top: 25px;
}
/* <----------------------------------Footer------------------------------> */
#designerid {
    color: #fff;
    text-decoration: none;
}