/* <------------------------------------- Colours for Website ------------------> */

/* .dark-background-color {
    background-color: #0F1020;
}

.accent-color {
    color: #D09076;
}

.text-color-variation {
    color: #E0E2DB;
} */

/* <-------------------------------------Universal CSS   ------------------> */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3215rem;
    background-color: #0F1020;
    color: #E0E2DB;
}

h1, h2, h3, h4 {
    font-family: 'Alegreya', serif;
}

p {
    letter-spacing: 0.1em;
    line-height: 1.25;
}

a {
    text-decoration: none;
}

ul , ol {
    list-style: none;
    padding-left: 0;
}

.btn-accent-colors {
    background-color: #D09076;
    border: none;
    color: #0F1020;
    font-size: 1.15em;
    font-weight: 500;
}

/* <------------------------------------- Navbar ------------------> */

.activecurrent {
    color: #D09076;
}

.navbar-brand {
    color: #E0E2DB;
    font-family: 'Alegreya', sans-serif;
    font-size: 1.30em;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #e0e2dbbc;
    transition: all 250ms ease-in-out;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-link {
    color: #E0E2DB;
    font-size: 20px;
}

.nav-link:hover {
    color: #e0e2dbbc;
}

/* <------------------------------------- Nav Toggler ------------------> */

.navbar-toggler {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #D09076;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    width: 55px;
    height: 40px;
    padding: 0;
    margin: 10px;
}

.navbar-toggler-icon {
    position: relative;
    width: 35px;
    height: 2px;
    border-radius: 5px;
    background-color: #D09076;
    transition: all .5s ease-in-out;
}

.navbar-toggler-icon::before, .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: #D09076;
    transition: all .5s ease-in-out;
}

.navbar-toggler-icon::before {
    transform: translateY(-10px);
}

.navbar-toggler-icon::after {
    transform: translateY(10px);
}

/* <--------------------------------- Nav Hover Effect From HoverCSS --------------------- */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #D09076;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-underline-from-center:active:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:hover:before {
    left: 0;
    right: 0
}

/* <------------------------------------- Jumbotrons ------------------> */

.coderimagejumbo {
    background-image: url(../../assets/images/vscodeweb.jpg);
    background-color: #0e151ae0;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nurseimagejumbo {
    background-image: url(../../assets/images/sammy-williams-38Un6Oi5beE-unsplash.png);
    background-color: #0b0c1480;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.jumbohr {
    margin: 10px 0;
    width: 5em;
    height: 7px;
    border-radius: 5px;
    background-color: #D09076;
}

.jumbohr-nurse {
    margin-left: auto;
}

.hr-light-uni {
    background-color: #D09076;
    width: 33%;
    height: 3px;
    display: flex;
    margin: 17px auto;
}

.jumbotextnurse {
    color: #E0E2DB;
    margin-left: auto;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
}

.jumbotextcoder {
    margin-right: auto;
    color: #E0E2DB;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* <------------------------------Intro Section ------------------> */

.introduction-section-linkabout {
    padding: 50px 10px;
}

.introduction-section-linkabout h1 {
    text-align: center;
}

.introduction-section-linkabout p {
    font-weight: 500;
    font-size: 1.15em;
}

.section-hr {
    margin: auto;
    background-color: #D09076;
    width: 33%;
    height: 2px;
    margin-top: 17px;
    margin-bottom: 17px;
}

/* <------------------------------Footer  ------------------> */

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.copyrightp {
    margin-bottom: 0;
}

.footer-nav .logo {
    margin-left: 0;
}

footer .logo {
    color: #E0E2DB;
    text-decoration: none;
    font-size: 30px;
}

.footer-links {
    display: inline-flex;
}

.nav-socials {
    display: flex;
    align-items: center;
}

.nav-socials ul li a {
    color: #E0E2DB;
    margin-right: 4px;
    font-size: 24px;
}

.nav-socials ul li a:hover {
    color: #D09076;
}

/* <------------------------------ About me page ------------------> */

.codeinstitute {
    color: #E0E2DB;
    font-family: 'Alegreya', serif;
    font-size: 24px;
}

.codeinstitute:hover, .codeinstitute:focus {
    color: #c97d60;
    transition: all 280ms ease-in-out;
}

.social-links h2, .social-links p {
    text-align: center;
}

.social-links ul li a {
    text-decoration: none;
    color: #E0E2DB;
    display: block;
    font-size: 1.45rem;
}

.social-links ul li a:hover, .social-links ul li a:focus {
    color: #D09076;
}

/* <-------------------------- Contact Me Page ---------------------------------> */

.info-contact-section {
    margin-top: 10rem;
}

.feedback-btn a {
    font-size: 1.25rem;
    border: solid 3px #D09076;
    color: #D09076;
}

.feedback-btn a:hover, .feedback-btn a:focus {
    background-color: #D09076;
    color: #0F1020;
    border-color: #D09076;
    font-weight: 500;
}

/* <----------- History CV timeline inspired by portfolio created in class ------------------> */

.mycv-header-section {
    margin: 4em auto;
}

.mycv-header-section h1 {
    padding-bottom: 1em;
}

.work-history-article {
    margin-bottom: 4em;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #E0E2DB;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2em;
    top: 1.8512em;
    display: block;
    font-weight: 500;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #D09076;
}

.timeline-item li::before {
    content: '\f14a';
    font-family: FontAwesome;
    display: inline-block;
    color: #D09076;
    margin-right: .2em;
}

.history-items {
    margin-bottom: 30px;
}

.cv-download i {
    color: #E0E2DB;
    font-size: 34px;
}

.cv-download i:hover, .cv-download i:focus {
    color: #D09076;
}


/* <----------- Developer and Nurse articles pages ------------------> */

.navigationindexforarticles {
    border: 2px solid #D09076;
}

.navigationindexforarticles a {
    color: #E0E2DB;
}

.navigationindexforarticles a:hover, .navigationindexforarticles a:focus {
    color: #D09076;
}

/* <------------------------------Media Queries ------------------> */

@media (min-width: 769px) {
    .navbar-nav {
        padding-right: 165px;
    }
}

@media (max-width: 991px) {
    .blog-text-nd {
        margin-right: auto;
    }
}