body {
    
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    
    
}

h1,
h2,
h3,
h4 {
    font-family: 'Alegreya', serif;
    font-size: 2.25em;

}



/* <------------------------------------- Navbar ------------------> */

.navigationbar {
    background-color: #0a0c18;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 60px;
    width: 100%;
    
}


.navigationbar .logo {
    text-decoration: none;
    color: #ffffff;

}


.list-items {
    display: inline-flex;
}

.navigationbar nav a {

    text-decoration: none;
    color: cornsilk;
    padding-left: 20px;


}

nav ul li {
    list-style: none;
}

nav ul li a:hover {
    color: darkgoldenrod;
}

nav ul li a .active {
    color: darksalmon;

}
/* <------------------------------------- Jumbotrons ------------------> */

.coderimagejumbo {
    background-image: url(/assets/images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nurseimagejumbo {
    background-image: url(/assets/images/sammy-williams-38Un6Oi5beE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.jumbohr {
    margin: 10px 0;
    width: 5em;
    height: 7px;
    border: none;
    
}

.hr-light {
    
    background-color: rgb(182, 95, 45);

}

.hr-dark {
    margin-left: auto;
    background-color: rgb(12, 12, 11);
}

.jumbotextnurse {
    color: black;
    margin-left: auto;
    text-align: right;
    padding-bottom: 10px;



}

.jumbotextcoder {
    margin-right: auto;
    color: rgb(243, 124, 69);
    padding-bottom: 10px;

}

.opaque-overlay {
    background-color: rgba(0, 0, 0, 0.5);



}

/* <------------------------------Intro Section ------------------> */

.introduction-section-linkabout {
    justify-content: center;
    
}

.smallintro {
    
    margin: auto;
}



/* <------------------------------Footer  ------------------> */


.page-content-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.flex-grow-1 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    height: 50vh;
}

.aboumetest {
  width: 50%;
  padding-left: 20px;
  background-color: rebeccapurple;
  margin: auto;
    
    
}

.side-image-portrait {
    background-image: url(/assets/images/ben-kolde-lqZPleZ4ERA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 450px;
    margin-right: auto;
    
    
}
    
 

.flex-grow-2 {
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    background-color: plum;
    /* height: 50vh; */
    
}

.my-skills-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.coder {
     
    background-color: aqua;
    padding: 20px;
    }

.nurse {
    padding: 20px;
    background-color: pink;
}  
.myfooternopadding {
    margin: 0;
    padding: 0;
}
.footernav {
    background-color: black;
    
    

}

@media only screen and (max-width: 765px) {
.aboumetest {
     width: 100%;
 }
.side-image-portrait {
     width: 100%;
 }
}